<h1>Main page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, doloremque quibusdam vel odit laborum debitis vero maxime magnam incidunt explicabo? Hic quasi ex nam illo eveniet unde quam
natus esse.</p>
<img src="http://lorempixel.com/207/316/nature">